<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
        default-autowire="byName">
    <bean id="demoAspectXml" class="com.wcnwyx.spring.aop.example.pointcut.DemoAspectXml"/>

    <!-- aop 配置开始 -->
    <aop:config>
        <!-- 切点定义，可以理解为在哪里加入拦截器的拦截-->
        <aop:pointcut id="pointcutId" expression="execution(public int com.wcnwyx.spring.aop.example.pointcut.DemoBean.*(..))"/>
        <!-- 方面定义：可以理解为拦截器 -->
        <aop:aspect ref="demoAspectXml">
            <!-- aop 的各种类型通知（advice） 前置、后置、环绕等-->
            <aop:before method="before" pointcut-ref="pointcutId"/>
            <aop:after method="after" pointcut-ref="pointcutId"/>
            <aop:after-returning method="afterReturn" pointcut-ref="pointcutId"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcutId"/>
<!--            <aop:around method="around" pointcut="execution(public int com.wcnwyx.spring.aop.example.pointcut.DemoBean.*(..))"/>-->
        </aop:aspect>
    </aop:config>
</beans>